:root {
	/* Milk */
	--color-milk: #F9F7F0;
	--color-milk-light: #FDFCF8;
	--color-milk-dark: #E8E4D8;

	/* Stone */
	--color-stone: #D8D2C2;
	--color-stone-light: #E8E2D2;
	--color-stone-dark: #C8C2B2;

	/* Desert */
	--color-desert: #B17457;
	--color-desert-light: #C18467;
	--color-desert-dark: #A16447;

	/* Graphite */
	--color-graphite: #4A4947;
	--color-graphite-light: #5A5957;
	--color-graphite-dark: #3A3937;
}
